# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Logs
logs/
*.log

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Airflow
standalone_admin_password.txt
airflow-webserver.pid
